__pycache__
.idea
src/Q96570/graph.png
/src/Java/Q107501/nbproject/private/
/src/Java/Q107501/build/
/src/Java/A130383/nbproject/private/
/src/Java/A130383/build/
/src/Java/JavaFXApplication2/nbproject/private/
/src/Java/JavaFXApplication2/dist/
/src/Java/JavaFXApplication2/build/
geckodriver.log
*.class
*.json